<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.CartMapper">

    <insert id="insertCart">
        INSERT INTO cart VALUES(#{c_id},#{i_id},#{m_id},#{c_qty},now(),#{c_letter},#{c_delivery_date},#{sub_option})
    </insert>

    <select id="getCartList" resultType="java.util.ArrayList">
        SELECT * FROM cart WHERE m_id=#{m_id}
    </select>

    <select id="getCart" resultType="com.itwillbs.domain.CartBean">
        SELECT * FROM cart WHERE c_id=#{c_id}
    </select>

    <update id="updateCart">
        UPDATE cart SET c_qty=#{c_qty} WHERE c_id=#{c_id}
    </update>
    <update id="deleteLetter">
        UPDATE cart SET c_letter=#{c_letter} WHERE c_id=#{c_id}
    </update>
    <delete id="deleteItem">
        DELETE FROM cart WHERE c_id=#{c_id}
    </delete>
</mapper>