<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.MemberMapper">
    <insert id="registMember">
        INSERT INTO member(m_id,m_pass,m_name,m_phone,m_birth,m_gender,g_id,m_agree,m_rdate,m_point)
        VALUES(#{m_id}, #{m_pass}, #{m_name}, #{m_phone}, #{m_birth}, #{m_gender}, #{g_id}, #{m_agree}, now(), 1000)
    </insert>

    <select id="userCheck" resultType="com.itwillbs.domain.MemberBean">
        SELECT * FROM member WHERE m_id=#{m_id} AND m_pass=#{m_pass}
    </select>

    <select id="selectMember" resultType="com.itwillbs.domain.MemberBean">
        SELECT * FROM member WHERE m_id=#{m_id}
    </select>

    <insert id="registAnn">
        INSERT INTO anniversary VALUES(#{a_id}, #{m_id}, #{a_date}, #{a_name}, #{a_repeat})
    </insert>

    <select id="selectAnnList" resultType="com.itwillbs.domain.AnniversaryBean">
        SELECT * FROM anniversary WHERE m_id=#{m_id}
    </select>

    <select id="getAnn" resultType="com.itwillbs.domain.AnniversaryBean">
        SELECT * FROM anniversary WHERE a_id=#{a_id}
    </select>

    <update id="updateAnn">
        UPDATE anniversary SET a_date=#{a_date}, a_name=#{a_name}, a_repeat=#{a_repeat} WHERE a_id=#{a_id}
    </update>

    <delete id="deleteAnn">
        DELETE FROM anniversary WHERE a_id=#{a_id}
    </delete>

    <delete id="deleteMember">
        DELETE FROM member WHERE m_id=#{m_id} AND m_pass=#{m_pass}
    </delete>

    <select id="getSubscribeCnt" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT o_id) FROM orders_detail WHERE m_id=#{m_id} AND od_confirm = 0 AND i_id IN (SELECT i_id FROM item WHERE i_category = 3)
    </select>

    <select id="getPurchaseCount" resultType="java.lang.Integer">
        SELECT COUNT(od_id) FROM orders_detail WHERE m_id =#{m_id}
    </select>

    <select id="getMakingCount" resultType="java.lang.Integer">
        SELECT COUNT(od_id) FROM orders_detail WHERE m_id =#{m_id} AND od_invoice='주문접수'
    </select>

    <select id="getSendCount" resultType="java.lang.Integer">
        SELECT COUNT(od_id) FROM orders_detail WHERE m_id =#{m_id} AND od_confirm=2
    </select>

    <select id ="getGradeDetail" resultType="float">
        SELECT g_discount FROM grade WHERE g_id=#{g_id}
    </select>

    <update id="usePoint">
        UPDATE member SET m_point = m_point- #{point_discount} WHERE m_id=#{m_id}
    </update>
</mapper>