<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mapper.MemberMapper">
    <insert id="insertMember">
        INSERT INTO member(id,pass,name,date) VALUES(#{id},#{pass},#{name},#{date})
    </insert>
    <select id="userCheck" resultType="com.itwillbs.domain.MemberBean">
        SELECT * FROM member WHERE id = #{id} AND pass = #{pass}
    </select>

    <select id="getMember" resultType="com.itwillbs.domain.MemberBean">
        SELECT * FROM member WHERE id = #{id}

    </select>

    <update id="updateMember">
        UPDATE member SET name=#{name}, pass=#{pass}
    </update>

    <delete id="deleteMember">
        DELETE FROM member WHERE id = #{id}
    </delete>

    <select id="getList" resultType="com.itwillbs.domain.MemberBean">
        SELECT * FROM member
    </select>
</mapper>